frontend httpsandhttp
   bind *:80
#   bind *:443 ssl crt /etc/haproxy/haproxy.pem alpn h2,http/1.1
  # bind *:443 
   timeout client 60s
   mode http
   acl app1 path_end -i /app1
   acl app2 path_end -i /app2
   http-request deny if { path -i -m beg /admin }  
   use_backend app1servers if app1
   use_backend app2servers if app2
   http-response set-header Strict-Transport-Security max-age=16000000;\ includeSubDomains;\ preload;
   default_backend allservers

backend app1servers
   timeout connect 5s
   timeout server 5s
   balance source
   mode http
   server webapp1a webapp1a:8000
   
backend app2servers
   timeout connect 5s
   timeout server 5s
   mode http
   server webapp2a webapp2a:8000
   
backend allservers
   timeout connect 5s
   timeout server 5s
   mode http
   server webapp1a webapp1a:8000
   server webapp2a webapp2a:8000
